<!DOCTYPE html>
<html>
<head>
  <title>Better Ajax Pagination (Cross Browser)</title>
	<script type="text/javascript">
	if ( typeof JSON === 'undefined' ) {
		var
			url = 'public/history.js/scripts/uncompressed/json2.js',
			scriptEl = document.createElement('script');
		scriptEl.type = 'text/javascript';
		scriptEl.src = url;
		document.body.appendChild(scriptEl,document.body.firstChild);
	}
	</script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'history.js/scripts/uncompressed/history.adapter.jquery.js', 'history.js/scripts/uncompressed/history.js', 'rails' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">

    <h1><%= link_to "Better Ajax Pagination (Cross Browser)", root_path %></h1>
    <p>This example uses the <a href="http://www.asual.com/jquery/address/">jQuery Address</a> plugin, which works across all browers.</p>
    <p>Grab the source code <a href="http://github.com/keithpitt/ajax-pagination">here</a></p>

    <div id="loading" style="display: none">Loading...</div>

    <form action="<%= search_path %>" class="ajax-results">
      <input type="text" name="q" id="search" autocomplete="" placeholder="Search for a video game" value="<%= params[:q] %>" />
      <input type="submit" id="button" value="Search" />
    </form>

    <div id="content">
      <%= yield %>
    </div>

    <script type="text/javascript">

			// Cache Elements
			var
				$form = $('form'),
				$search = $('#search'),
				$loading = $('#loading'),
				$content = $('#content');

			// Bind to Form Submit
      $form.live('submit', function(event) {
        var
        	query = $search.val(),
        	params = $form.serialize(),
					url = $form.attr('action')+'?'+params,
					data = {
						'query': query,
						'params': params
					},
					title = 'Searching for: '+query;

				History.log('pushState', data, title, url);
        History.pushState(data,title,url);

				event.preventDefault();
        return false;
      })

			// Bind to Ajax Links
      $('.pagination a').live('click', function() {
        var
        	query = $search.val(),
        	$link = $(this),
        	url = $link.attr('href'),
					data = {
						'query': query,
					},
					title = 'Searching for: '+query;

        History.pushState(data,title,url);

        return false;
      });

			// Bind to State Change
      History.Adapter.bind(window,'statechange',function() {

				var
					State = History.getState(),
					query = State.data.query||'',
					params = State.data.params||'';

				if ( !query ) return false;

				History.log('statechange', State);

        $loading.slideToggle('fast', function() {
          $.ajax({
            url: State.url,
            method: 'get',
            data: params,
            success: function(html) {
              $loading.slideToggle('fast');
              $content.html(html);
            },
            error: function(){
            	console.error(this,arguments);
            }
          })
        });

      });

    </script>

  </div>
</body>
</html>
